@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;
    src: url('/assets/fonts/inter-tight-v7-latin-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/fonts/inter-tight-v7-latin-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 700;
    src: url('/assets/fonts/inter-tight-v7-latin-700.woff2') format('woff2');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: black;
}

body {
    font-family: 'Inter Tight', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 20px;
    background-color: #e9ecef90;
    backdrop-filter: blur(5px);
    z-index: 10;
    border-bottom: 1px solid #dee2e6;
}

header h2 {
    font-size: 18px;
    color: #212529;
}

header h2 span {
    font-size: 13px;
    display: block;
    color: #6c757d;
}

.creator {
    cursor: pointer;
}

h1 {
    margin-bottom: 10px;
}

input,
select,
button {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

input {
    margin: 1px 0;
    padding: 11px 10px;
    width: 100%;
    border: 2px solid #000;
    border-radius: 8px;
}


section {
    display: none;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 100%;
}

.active {
    display: block;
}

#generate {
    display: block;
}

.form-container {
    max-width: 400px;
    width: 100%;
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    position: relative;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.key {
    padding: 17px 0;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: #444;
    border-radius: 20px;
    transition: 0.1s ease;
    color: #fff;
    box-shadow: 0px 6px #333;
}

.key:active {
    transform: translate(0px, 6px);
    box-shadow: 0px 0px #000;
}

.delete-key {
    background-color: red;
    box-shadow: 0px 6px #bd0000;
}

.key.disabled {
    opacity: 0.8;
    pointer-events: none;
}

.enter-upi-scan {
    display: flex;
    gap: 5px;
    align-items: center;
}

#qr-scanner {
    width: 100%;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 100vh;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    z-index: 2;
}

#my-qr-reader {
    width: 100%;
    padding: 10px !important;
}

#my-qr-reader div+img {
    display: none;
}

#close-qr-scanner {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 20px;
    width: calc(100% - 40px);
}

#qr-scanner,
#other-fields {
    display: none;
}

#upi-id-display {
    gap: 3px;
    display: flex;
    font-size: 10px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
}

#upi-id-display span {
    text-wrap: nowrap;
}

#scan-btn {
    display: flex;
    flex: 0;
    background-color: #ddd;
    border: 2px solid #000;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
}

#done-button {
    display: none;
    flex: 0;
    background-color: #008914;
    border: 2px solid #008914;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
}

ion-icon {
    height: 20px;
    width: 20px;
}

#done-button ion-icon {
    color: #fff;
}

#payee {
    display: flex;
    align-items: center;
    gap: 7px;
}

#payee label {
    display: flex;
    flex: 0;
    border-radius: 5px;
    align-items: center;
    padding: 12px;
}

body:has(input:focus) #amount-input {
    visibility: hidden;
    opacity: 0;
    transition: 0.1s ease;
}



.qr-div-wrap {
    position: fixed;
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 100vh;
    background-color: #00000070;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    backdrop-filter: blur(10px);
}

.qr-div {
    position: fixed;
    left: 0;
    bottom: -100%;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px 15px 0 0;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s ease;
    z-index: 11;
}

.reveal-fade {
    visibility: visible;
    opacity: 1;
}

.reveal-up {
    bottom: 0;
    visibility: visible;
    opacity: 1;
}


#amount-input {
    padding: 20px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    visibility: visible;
    opacity: 1;
    transition: 0.5s ease;
}


#amount {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    font-family: 'Inter Tight';
}

#max-amount-warning {
    color: red;
    font-size: 10px;
    opacity: 0;
    display: block;
    text-align: center;
    background-color: #fff;
    margin-top: -17px;
    margin-bottom: 15px;
}

#generate-qr-btn {
    background-color: #333;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    margin-block: 15px 0;
    color: #fff;
    border: none;
}

#close-qr {
    background-color: #ffe2e2;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    color: red;
    border: none;
}

#qr-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 25px 15px;
    background-image: url(/upi/assets/backgrounds/qr-bg.webp);
    background-size: cover;
    background-repeat: no-repeat;
    gap: 5px;
    width: 100%;
    overflow: hidden;
    font-family: 'Inter Tight';
    font-weight: normal;
}

#qrcode {
    padding: 10px;
    margin: 10px 10px 0;
    border: 2px solid #000;
    border-radius: 20px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
}

#qrcode svg {
    width: 100%;
    height: auto;
}

#upi-source {
    font-size: 9px;
    text-align: center;
    text-wrap: nowrap;
    margin-top: 10px;
}

.qr-amount {
    display: block;
    font-family: 'Inter Tight';
    font-size: 40px;
    font-weight: 700;
}

.qr-payee {
    display: block;
    font-family: 'Inter Tight';
    font-size: 15px;
    font-weight: 700;
    text-wrap: balance;
}

.qr-buttons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    gap: 10px;
}

.qr-action-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.choose-remove-logo {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 10px;
}

.light-button {
    background-color: #ccc;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    margin-block: 10px;
    color: #000;
    border: none;
}



.dark-button {
    background-color: #333;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 8px;
    margin-block: 10px;
    color: #fff;
    border: none;
}

.light-red-button {
    background-color: #ffe2e2;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border: 1px solid red;
    border-radius: 8px;
    margin-block: 10px;
    color: red;
}

.light-red-button:disabled {
    opacity: 0.4;
}




.customize-style-wrap {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 15px;
}

.customize-style {
    display: flex;
    align-items: center;
    gap: 7px;
}


.customize-style select {
    padding: 2px;
    border: none;
    border-bottom: 2px solid #000;
    border-radius: 4px;
}




.color-preview {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    /* Make it circular */
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.color-picker-wrapper {
    display: flex;
    align-items: center;
}



.navbar {
    position: relative;
    min-width: 135px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.bottom-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 3);
}

.menu-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0;
    height: 25px;
    width: 25px;
    border-radius: 30px;
    transition: 0.2s ease;
}

.bottom-menu .menu-icon ion-icon {
    height: 25px;
    width: 25px;
}

input[type="radio"] {
    display: none;
}

.menu-icon .icon-outlined {
    fill: #454746;
}

.menu-icon .icon-filled {
    fill: #001D35;
}

.menu-icon .icon-outlined,
input[type="radio"]:checked+label .menu-icon .icon-filled {
    display: block;
}

.menu-icon .icon-filled,
input[type="radio"]:checked+label .menu-icon .icon-outlined {
    display: none;
}

input[type="radio"]:checked+.bottom-menu .menu-icon {
    height: 35px;
    width: 35px;
    background-color: #ddd;
}